/* This is just a temporary DEBUG:-related Test component (to dip my toes back into getting comfy with loading animation stuff): 
TO-DO: ^ So yeah, once I'm comfortable with everything, delete this file and LoadingSpinner.tsx */
#spinning-loader-id {
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px;
    width:300px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
