/* Copying a lot of the styling used in CheersDerek's https://letterboxd-besties.cheersderek.com/ site tbh. */

/* General Stuff: */
body, div {
  display:block;
}
main {
  display:grid;
  place-items:center;
}

div {
  margin:8px;
}

/* Styling for MainPage.tsx: */
.wrapper {
  display:grid;
  place-items:center;
  /*margin:0 1rem;*/
  min-height:100%;
  min-width:100%;
}
#mpTitle {
  padding:1rem 0 0rem 0;
}
#mpUndertext {
  padding-bottom:1rem;
}




/* All of this is for "[1] - The first <div>" (Profile Input Section): */
#profileInputWrapper {
  padding:8px;
  border-radius:10px;
  background-color:#1f262d;
  max-width:500px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profileInputBtnWrapper {
  width:100%;
  margin-top:1rem;
}
#profileInputBtn {
  width:100%;
  color: #1f262d;
  background-color: #40bcf4;
  font-size: 1rem;
  border:none;
  border-radius:10px;
  padding: 0.3rem;
  cursor:pointer;
  transition: background-color 0.2s ease;
}
#profileInputBtn:hover {
  background-color: #36cff5;
}
.profileInputList {
  width: 75%;
}
.p-input-row {
  display:flex;
  align-items:center;
  gap: 0.5rem;
  width: 100%;
}
#typeProfileBox {
  flex-grow: 1;
  min-width: 0;
  padding: 0.3rem;
  border-radius: 5px;
}
#addBtnWrapper {
  display:flex;
  justify-content:center;
  width:100%;
  margin-top:0.5rem;
}

#addProfileBtn {
  color: #1f262d;
  background-color:#00e054;
  font-size:0.95rem;
  border:none;
  border-radius:10px;
  padding:0.3rem;
  cursor:pointer;
}
#deleteProfileBtn {
  color: #1f262d;
  background-color:	#ff8000;
  font-weight:bold;
  border:none;
  cursor:pointer;
}

/* Styling for MainTable.tsx: */
#mtWrapper {
  color:#caeff8;
  background-color:#1f262d;
  display: flex;
  flex-direction: column;
  width:100%;
  max-width:1400px;
  height:600px;
  border-radius:10px;
  border:1px solid #444;
  overflow:hidden;
}
#mtSearchBar {
  width:55%;
  font-size:15px;
}
#mtConfigWrapper {
  height:35px;
  margin-top:10px;
  display:flex;
  align-items:center;
  gap:7.5px;
}
#mtMinAvgSlider {
  height:85%;
  width:50%; /* <-- DEBUG: Subject to change, especially after I make the Table dimensions fixed. */
  display:flex;
  align-items:center;
  box-shadow:5px 5px 10px 2px rgb(0 0 0 / 0.8);
  background-color: #2c3440;
  border-radius:7.5px;
}
#mtTableScrollContainer {
  overflow-y:auto;
  overflow-x:auto;
  flex:1;
}


#mtTableScrollContainer::-webkit-scrollbar {
  width:10px;
}
#mtTableScrollContainer::-webkit-scrollbar-track {
  background: white;
  border-radius: 25px;
}
#mtTableScrollContainer::-webkit-scrollbar-thumb {
  background-color:#40bcf4;
  border-radius: 6px;
  border: 2px solid  #caeff8;
}
#mtTableScrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: #36cff5;
}

#mtTable {
  width:100%;
  table-layout:fixed;       /* <-- DEBUG: This line here will make sure there's no table resizing when I move the slider etc. */
  border-collapse:collapse; /* <-- DEBUG: Will remove like the "differentiating lines"/border lines between columns more or less. (Do I want this?) */
}
#mtTable th, #Table td {
  border: 1px solid #2a2a2a;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* For the cells (one directly below relates to setting fixed size for the poster col): */
#mtTable th:first-child,
#mtTable td:first-child {
  width: 165px;
  min-width: 165px;
  max-width: 165px;
}
#mtTable th,
#mtTable td {
  text-align:center;
  font-weight:bold;
}
